.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, #64748b, #ff0000);
    transform-origin: 0%;
    z-index: 1001;
    /* Above Navbar */
}